
<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <!-- Add bootstrap framework -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="back">
    <div class="app">
      <h1 class="title1 text-center">
        URL Shortener Microservice
      </h1>
      <hr class="my-3 box">
      <h4 class="title2 text-center">
        FCC Backend Assignment
      </h4>
      <div class="box">
        <p class="title3">
          Example usage:
        </p>
        <mark class="plainText">
          https://fcodec-urlshortener.glitch.me/new/https://www.google.com
        </mark>
        <p class="title3">
          Example output:
        </p>
        <mark class="plainText">
          { "original_url":"http://foo.com:80", "short_url":"hhttps://fcodec-urlshortener.glitch.me/8170" }
        </mark>
        <p class="title3">
          Usage:
        </p>
        <mark class="plainText">
          https://fcodec-urlshortener.glitch.me/2871
        </mark>
        <p class="title3">
          Redirects to:
        </p>
        <mark class="plainText">
          https://www.google.com/
        </mark>
      </div>
      <h6 class="text-center name title2">
        Santiago Gomez Paz &copy;
      </h6>
    </div>
  </body>
</html>
